@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.nav {
  list-style-type:none;
  display:flex;
  flex-wrap: nowrap;
  width:100%;
  background:#222;
  position:relative;
	top:1px;
  border-radius:8px;

}
.navItem, .navItem a {
  display:inline-block;
  flex-grow: 1;
}
.navItem a {
  width:100%;
  padding-top:30px;
  padding-bottom:30px;
  color:white;
  text-decoration:none;
  text-align:center;
  text-shadow: 1px 1px 2px rgba(34,34,34,0.4);
  font-weight:600;
  font-size:18px;
}
/*-----main header----*/
.header{
	display: block;
	position: relative;
	padding:20px;
	background:linear-gradient(#3597cb,#012f47);
	z-index: 1;
}
.header-name{
	position: relative;
	text-align: center;
	color: white;
}
.main-logo{
	display: block;
	background:#012f47;
	position:fixed;
	width: 6%;
	left: 10%;
	margin-top: -5%;
	padding:;
}
.main-logo img{
	position: relative;;
	width: 60%;
	height: auto;
	left: 20%;
}

/*-----sidebar-----*/
.sidebar{
	margin: 2px;
	background-color: #012f47;
	color:white;
	padding: 20px;
}
.sidebar .sidebar-header{
	text-align: center;
	display: block;
	padding: 5px 0;
}
.sidebar .sidebar-list li{
	display:block;
	position:relative;
	width: 100%;
	height:30px;
	background-color: green;
	margin: 2px;
	text-align: center;
}
